<body class="homepage">	

	<div class="col-md-12 col-md-offset-4">
	    
	    <div class="product-container">

	    	<div class="panel panel-info">

				<h1>New Comment</h1>

				<%= render 'form' %>

				<%= link_to 'Back', problem_path(@comment.problem_id)  %>

			</div>

		</div>
		
	</div>

</body>
