<body class="homepage">

	    <div class="product-container">

	    	<div class="panel panel-info">

				<h1>New Comment</h1>

				<%= render 'form' %>

				<%= link_to '', problem_path(@comment.problem_id), class: 'glyphicon glyphicon-chevron-left' %>

			</div>

		</div>

</body>
