<p>
  <strong>Name:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', problem_path(@comment.problem_id) %>
