<body class="homepage">

 <%= link_to '', problem_path(@comment.problem_id), class: 'glyphicon glyphicon-chevron-left' %>
<br>
<br>
<div class="container page new">
  <div class="panel panel-default">
    <div class="panel-heading new"><h1>New Comment</h1></div>
      <div class='form'>
        <p>
        <strong>Name:</strong>
        <%= @comment.user_name %>
      </p>
      <p>
        <strong>Comment:</strong>
        <%= @comment.body %>
      </p>

      <%= link_to '', edit_comment_path(@comment), class: 'glyphicon glyphicon-edit' %> |


      </div>
    </div>
  </div>
</body>
