<body class="homepage">
	<%= link_to 'Back', interviews_path, class: 'btn btn-lg btn-info' %>
<br>
<br>
<div class="container page new">
	<div class="panel panel-default">
		<div class="panel-heading new"><h1>New Interview Question</h1></div>
			<div class='form'>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</body>