<body class="homepage">
	<%= link_to 'Back', resources_path, class: 'btn btn-lg btn-info' %>

<div class="container page new">
	<div class="panel panel-default">
		<div class="panel-heading new"><h1>New Coding Resource</h1></div>
			<div class='form'>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</body>